html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: Merriweather,'Helvetica Neue',Arial,sans-serif;
  background: #000;
}

header  {
  position: relative;
  width: 100%;
  min-height: 100%;
  text-align: center;
  color: #fff;
  background-image: url(../img/trees.jpg);
  background-position: center;
  background-size: cover;
}

header h1 {
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
}

.header-content {
  position: absolute;
  top: 50%;
  padding: 50px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

header .header-content .header-content-inner {
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px;
}

header .header-content {
  width: 100%;
  text-align: center;
}

header hr {
  margin-top: 35px;
  margin-bottom: 35px;
  width: 100px;
}

@media screen and (max-width: 768px) {
    header .arrow {
        display: none;
    }
}

header .arrow {
  opacity: 0;
  width: 175px;
}

header .social a {
  color: #00a79d;
  opacity: 0.8;
}

header .social a:hover {
  color: #00a79d;
  opacity: 1;
}

header .mailing {
  margin-bottom: 100px;
}