<!--site footer-->
<footer class="footer-preset-03">
  <div class="container">
    <div class="footer-preset-wrapper">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="footer-quote-01">
            <div class="footer-quote"><a href="/"><img src="/assets/images/logo-white.png" alt="wolverine" style="width: 200px"></a>
              <div class="content">
                <p>L’Estrie abrite une vive communauté de groupes dédiés aux différents enjeux environnementaux. En même temps la communauté de développeurs, de designers et d’entrepreneurs d’ici est également en plein essor. ÉcoHack Estrie réunira ces groupes dans un espace où tous se sentiront à l’aise de partager leurs expertises complémentaires.</p><a href="/a-propos">EN SAVOIR PLUS</a>
              </div>
              <div class="icon">
                <p>Suivez-nous:</p>
                <ul class="social-02">
                  <li><a href="https://www.facebook.com/ecohackestrie"><i class="fa icon-facebook"></i></a></li>
                  <li><a href="https://twitter.com/EcoHackEstrie"><i class="fa icon-twitter"></i></a></li>
                  <li><a href="https://instagram.com/ecohackestrie/"><i class="fa icon-instagrem"></i></a></li>
                  <li><a href="https://github.com/ecohack-estrie/"><i class="fa icon-github"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-md-offset-2 col-md-4 col-sm-8 col-sm-offset-2 col-xs-12">
          
        </div>
      </div>
    </div>
    <div class="footer-foot text-center">
      <p>© 2015 ECOHACK ESTRIE</p>
    </div>
  </div>
</footer>
<!--end site footer-->



<script src="/vendors/jquery/jquery-1.11.2.min.js"></script>
<script src="/vendors/stellar/jquery.stellar.min.js"></script>
<script src="/vendors/waypoints/lib/jquery.waypoints.min.js"></script>
<script src="/vendors/smooth-scroll/SmoothScroll.js"></script>
<script src="/vendors/jqueryui/jquery-ui.min.js"></script>
<script src="/vendors/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="/vendors/slick/slick.js"></script>
<script type="text/javascript" src="/vendors/magnific-popup/jquery.magnific-popup.js"></script>
<script src="/vendors/isotope/isotope.pkgd.min.js"></script>
<script src="/vendors/isotope/packery-mode.pkgd.min.js"></script>
<script type="text/javascript" src="/vendors/img-loaded/imagesloaded.pkgd.min.js"></script>
<script type="text/javascript" src="/vendors/full-page/jquery.slimscroll.min.js"></script>
<script type="text/javascript" src="/vendors/full-page/jquery.easings.min.js"></script>
<script type="text/javascript" src="/vendors/full-page/jquery.fullPage.js"></script>
<script src="/vendors/countto/jquery.countTo.js"></script>
<script src="/vendors/jquery-countdown/dist/jquery.countdown.js"></script>
<script src="/vendors/jquery-countdown/dist/jquery.final-countdown.js"></script>
<script src="/vendors/jquery-countdown/dist/kinetic.js"></script>
<script src="/assets/js/main.js"></script>

<script>
(function(b,o,i,l,e,r){b.GoogleAsnalyticsObject=l;b[l]||(b[l]=function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;e=o.createElement(i);r=o.getElementsByTagName(i)[0];e.src='//www.google-analytics.com/analytics.js';r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));ga('create','UA-66878016-1');ga('send','pageview');
</script>